@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lilita+One&family=Noto+Sans+TC:wght@400;500;700&family=Rubik:wght@400;500&display=swap');

body,
html {
  font-family: 'Noto Sans TC', 'Rubik', 'Helvetica LT', "微軟正黑體", sans-serif;
  font-size: 16px;
  color: #202020;
  font-weight: 400;
  cursor: none;
  position: relative;
}

a {
  transition: all ease-in-out .3s;
  color: #202020;
  text-decoration: none;
  cursor: none;
}

a:hover {
  text-decoration: none;
  color: #202020;
  opacity: 0.75;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  /* z-index: 1; */
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

:focus {
  outline: none;
}

.btn.focus,
.btn:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

/**/
.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.pr-10 {
  padding-right: 10px;
}


.bg-gray {
  background: #F5F5F5;
}

.txt-gray {
  color: #777;
}

.font-400 {
  font-weight: 400;
}

.font-20 {
  font-size: 1.25rem;
}



/*header*/
header {
  background: #fff;
  transition: all ease-in-out 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  border-bottom: 1px solid #202020;
  z-index: 900;
}

.navbar-toggler {
  display: none;
}

.navbar-toggler .open-menu {
  display: none;
}

.navbar-toggler.collapsed .open-menu {
  display: block;
}

.navbar-toggler.collapsed .close-menu {
  display: none;
}

.navbar {
  padding: 0;
  flex-wrap: nowrap;
}

.navbar .navbar-brand {
  padding: 0 40px;
  margin: 0;
}

.navbar .navbar-brand h1 {
  font-size: 2rem;
  font-family: 'caveat', 'Rubik';
  margin: 0;
}

.navbar .navbar-brand .logo-fixed {
  display: none;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav .nav-item {
  padding: 25px 10px;
}

.navbar-nav .nav-item .nav-link {
  font-size: 1.25rem;
  padding: 0 10px;
  color: #202020;
  font-weight: 400;
  width: 100px;
  text-align: center;
  position: relative;
  z-index: 0;
}

.navbar-nav .nav-item .nav-link:before {

  transition: all ease-in-out .3s;
  content: "";
  width: 0;
  height: 10px;
  background: #FFD43C;
  background-size: 100%;
  border-radius: 5px;
  position: absolute;
  bottom: 5px;
  left: 0;
  z-index: -1;
}

.navbar-nav .nav-item .nav-link:hover {
  opacity: 1;
}

.navbar-nav .nav-item .nav-link:hover:before,
.navbar-nav .nav-item.active .nav-link:before {

  width: 100px;
}


ul.social-media {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

ul.social-media li {
  padding: 0 20px;
}

ul.social-media li img {
  width: 24px;
}



body.fixed header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 100;
  box-shadow: 0 0 8px rgba(0, 0, 0, .15);
}



#nav-icon {
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  width: 100%;
  background: #202020;
  height: 2px;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 10px;
}

#nav-icon span:nth-child(4) {
  top: 20px;
}

#nav-icon.open span {
  background: #fff;
}

#nav-icon.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}


/*content*/
.show-mb {
  display: none;
}

.goTop {
  position: fixed;
  right: 40px;
  bottom: 20%;
  transform: rotate(-90deg);
  font-size: 1.125rem;
  z-index: 0;
  opacity: 0;
  transition: .3s all ease-in-out;
}

.goTop a {
  display: block;
  position: relative;
  opacity: 1 !important;
}

.goTop a:before {
  content: "";
  width: 20px;
  height: 20px;
  background: #FFD43C;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.goTop a:after {
  content: "";
  width: 20px;
  height: 2px;
  background: #202020;
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  transition: .3s all ease-in-out;
  ;

}


.goTop a:hover:after {
  width: 35px;
}

.cursor {
  position: fixed;
  z-index: 1000;
}

.cursor-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: .6;
  background: #ed890d;
  transition: all .3s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 1000;

}

.cursor-outer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  opacity: .6;
  border: 1px solid #ed890d;
  border-radius: 50%;
  transition: all .3s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 1000;
}

.cursor.grow .cursor-outer {
  width: 40px;
  height: 40px;
}

.cursor.grow-big .cursor-outer {
  width: 80px;
  height: 80px;
}

.cursor.black .cursor-outer {
  border-color: #202020;
  opacity: 1;
}

.cursor.black .cursor-inner {
  width: 20px;
  height: 20px;
  background: #202020;
  opacity: 1;
}

.container {
  width: 100%;
  padding: 0 25px;
}

.row {
  margin: 0 -25px;
}

.row>* {
  padding: 0 25px;
}

.imgBox img {
  max-width: 100%;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #FFD43C;
}

.loading-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out .3s;
  opacity: 1;
}

.loading-cover.hide-cover {
  z-index: -1;
  opacity: 0;
}

.margin-setting {
  margin-bottom: 40px;
}

.margin-settingB {
  margin-bottom: 80px;
}

.padding-setting {
  padding: 80px 0;
}

.flex-al-center {
  display: flex;
  align-items: center;
}

.title-style h2 {
  font-family: 'Rubik';
  font-size: 2.5rem;
  position: relative;
}

.title-style p {
  font-size: 1.25rem;
  color: #777;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.title-style1 {
  display: flex;
  align-items: flex-end;
}

.title-style1 h2 {
  margin: 0;
  z-index: 0;
  line-height: 1;
}

.title-style1 h2:before {
  content: "";
  width: 40px;
  height: 40px;
  background: #FFD43C;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  bottom: 5px;
  z-index: -1;
}

.title-style2 h2 {
  text-align: center;
  margin: 0;
}

.title-style2 span {
  position: relative;
}

.title-style2 span:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFD43C;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.textBox p {
  line-height: 2;
  text-align: justify;
  font-size: 1.125rem;
  margin-bottom: 0;
}

/*banner*/
.stars .star {
  display: block;
  position: absolute;
  width: 150px;
  background: #202020;
  height: 2px;
  opacity: 1;
  transform-origin: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  animation: meteor linear infinite;
}

.stars .star1 {
  left: 35%;
  top: 25%;
  animation-duration: 7s;
}

.stars .star2 {
  left: 42%;
  top: 40%;
  animation-duration: 5.5s;
  width: 250px;
}

.stars .star3 {
  left: 50%;
  top: 30%;
  animation-duration: 6s;

}

.stars .star4 {
  left: 100%;
  top: 25%;
  animation-duration: 6s;
  width: 250px;

}

.stars .star5 {
  left: 110%;
  top: 30%;
  animation-duration: 9s;
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -250px;
    margin-right: -250px;
  }

  12% {
    opacity: 0;
  }

  15% {
    margin-top: 250px;
    margin-left: -500px;
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.moon {
  width: 90px;
  height: 90px;
  border: 2px solid #202020;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: -1;
}

.section-banner {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-banner:before {
  content: "";
  width: 80%;
  height: 120px;
  background: url(../img/land.png)no-repeat bottom center;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


.banner-title {
  font-family: 'Lilita One', 'Rubik';
  font-size: 5rem;
  display: flex;
  width: 100%;
  position: relative;
  top: -10%;
  line-height: 1;
}

.banner-title h2 {
  font-family: 'Lilita One', 'Rubik';
  font-size: 5rem;
  margin: 0;
  line-height: 1;
}

.banner-title .left {
  width: 50%;
  text-align: right;
  padding-right: 40px;
}

.banner-title .right {
  color: #FFD43C;
  animation: spincube ease-in-out infinite 8s;
  transform-style: preserve-3d;
  padding-left: 0;
}

.banner-title .right h2 {
  position: absolute;
  width: 540px;
  height: 80px;
  text-align: left;
}

.banner-title .right .rotation1 {
  -webkit-transform: translateZ(40px);
  -moz-transform: translateZ(40px);
  -ms-transform: translateZ(40px);
  transform: translateZ(40px);
  -webkit-backface-visibility: hidden;
}

.banner-title .right .rotation2 {
  -webkit-transform: rotateX(90deg) translateZ(40px);
  -moz-transform: rotateX(90deg) translateZ(40px);
  -ms-transform: rotateX(90deg) translateZ(40px);
  transform: rotateX(90deg) translateZ(40px);
  -webkit-backface-visibility: hidden;
}

.banner-title .right .rotation3 {
  -webkit-transform: rotateX(180deg) translateZ(40px);
  -moz-transform: rotateX(180deg) translateZ(40px);
  -ms-transform: rotateX(180deg) translateZ(40px);
  transform: rotateX(180deg) translateZ(40px);
  -webkit-backface-visibility: hidden;
}

.banner-title .right .rotation4 {
  -webkit-transform: rotateX(270deg) translateZ(40px);
  -moz-transform: rotateX(270deg) translateZ(40px);
  -ms-transform: rotateX(270deg) translateZ(40px);
  transform: rotateX(270deg) translateZ(40px);
  -webkit-backface-visibility: hidden;
}

/*Cubical Flipping or rotation*/
@-webkit-keyframes spincube {

  from,
  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  15% {
    -webkit-transform: rotateX(90deg);
  }

  25% {
    -webkit-transform: rotateX(90deg);
  }

  40% {
    -webkit-transform: rotateX(180deg);
  }

  50% {
    -webkit-transform: rotateX(180deg);
  }

  65% {
    -webkit-transform: rotateX(270deg);
  }

  75% {
    -webkit-transform: rotateX(270deg);
  }

  95% {
    -webkit-transform: rotateX(360deg);
  }

  100% {
    -webkit-transform: rotateX(360deg);
  }
}

@keyframes spincube {

  from,
  to {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  15% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }

  25% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }

  40% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }

  50% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }

  65% {
    -webkit-transform: rotateX(270deg);
    -moz-transform: rotateX(270deg);
    -ms-transform: rotateX(270deg);
    transform: rotateX(270deg);
  }

  75% {
    -webkit-transform: rotateX(270deg);
    -moz-transform: rotateX(270deg);
    -ms-transform: rotateX(270deg);
    transform: rotateX(270deg);
  }

  90% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }

  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

.banner-text {
  max-width: 530px;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.75;
}

.banner-text p {
  margin-bottom: 10px;
}

.banner-text span {
  color: #AAAAAA;
  display: block;
}

.scroll-img {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: loopUpDown ease-in-out infinite 2.5s;
}


@keyframes loopUpDown {
  0% {
    transform: translateX(-50%) translateY(0px);
  }

  50% {
    transform: translateX(-50%) translateY(8px);
  }

  0% {
    transform: translateX(-50%) translateY(0px);
  }
}

/*about*/

.section-aboutme .flex-al-center {
  margin: 0 -40px;
}

.section-aboutme .flex-al-center>div {
  width: 50%;
  padding: 0 40px;
}

.section-aboutme .left .imgBox {
  position: relative;
}

.section-aboutme .left .imgBox:before {
  content: "";
  width: 60px;
  height: 56px;
  background: url(../img/decorate2.png)no-repeat center center;
  background-size: 100%;
  position: absolute;
  left: 5%;
  top: 20%;
}

.section-aboutme .left .imgBox:after {
  content: "";
  width: 80px;
  height: 60px;
  background: url(../img/decorate1.png)no-repeat center center;
  background-size: 100%;
  position: absolute;
  right: 3%;
  bottom: 18%;
}

.about-media {
  display: flex;
  align-items: center;
}

.about-media .item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.about-media .item img {
  width: 24px;
}

.about-media .item a {
  margin-left: 10px;
  display: inline-block;
}

.skill-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 -25px;
}

.skill-list li {
  padding: 10px 30px;
}

.skill-list li img {
  width: 120px;
}

.experience-list {
  position: relative;
  z-index: 0;
}

.experience-list:before {
  content: "";
  width: 50%;
  height: 490px;
  background: url(../img/bg1.png)no-repeat center center;
  background-size: contain;
  position: absolute;
  top: -15%;
  left: 0;
  transform: translateX(-65%);
  z-index: -1;
}

.experience-list:after {
  content: "";
  width: 45%;
  height: 490px;
  background: url(../img/bg2.png)no-repeat center center;
  background-size: contain;
  position: absolute;
  bottom: -18%;
  right: 0;
  transform: translateX(70%);
  z-index: -1;
}

.experience-list li {
  display: flex;
  position: relative;
  z-index: 0;
  margin-bottom: 80px;
}

.experience-list li .imgBox {
  width: 200px;
  position: absolute;
  left: 0;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .15);
  z-index: 10;
  background: #fff;
}

.experience-list li .textBox {
  width: 100%;
  padding-left: 150px;
  padding-top: 50px;
}

.experience-list li .textBox .top {
  position: absolute;
  top: 10px;
  left: 230px;
  display: flex;
  align-items: flex-end;
  line-height: 1;
}

.experience-list li .textBox .cpName {
  font-size: 1.25rem;
  position: relative;
  z-index: 0;
}

.experience-list li .textBox .cpName:before {
  content: "";
  width: 20px;
  height: 20px;
  background: #FFD43C;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.experience-list li .textBox .jobName {
  color: #999;
  font-size: 1rem;
}

.experience-list li .textBox .jobCard {
  border-radius: 15px;
  padding: 30px 40px 60px 80px;
  position: relative;
}

.experience-list li .textBox .jobCard:before {
  content: "";
  width: 75px;
  height: 20px;
  background: url(../img/decorate3.png)no-repeat center center;
  background-size: contain;
  position: absolute;
  right: 40px;
  top: -10px;
}

.experience-list li .textBox .jobCard:after {
  content: "";
  width: 75px;
  height: 20px;
  background: url(../img/decorate3.png)no-repeat center center;
  background-size: contain;
  position: absolute;
  left: 40px;
  bottom: -10px;
}



.experience-list li .textBox .jobCard .jobTime {
  position: absolute;
  font-size: 2.5rem;
  color: #999;
  line-height: 1;
  right: 40px;
  bottom: -2px;
}

.experience-list li:nth-child(2n) .imgBox {
  right: 0;
  left: auto;
}

.experience-list li:nth-child(2n) .textBox {
  padding-right: 150px;
  padding-left: 0;
}

.experience-list li:nth-child(2n) .textBox .top {
  left: 40px;
}

.experience-list li:nth-child(2n) .textBox .jobCard {
  padding: 30px 80px 60px 40px;
}

.experience-list li:nth-child(2n) .textBox .jobCard .jobTime {
  right: 80px;
}

.experience-list li:nth-child(2n) .textBox .jobCard:before {
  right: 80px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.work-list li {
  width: 33.3%;
  position: relative;

  padding: 0 15px;
  margin-bottom: 30px;
}

.work-list li a,
.work-list li img {
  display: block;
  position: relative;
}

.work-list li a {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.work-list li img {
  width: 100%;
}

.work-list li a .cover {
  position: absolute;
  background: rgba(255, 212, 30, 0.85);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
  border-radius: 15px;
}

.work-list li a .cover:before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/icon/search.png)no-repeat center center;
  background-size: 100%;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
}

.work-list li .cover .name {
  font-size: 1.85rem;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 500;
}

.work-list li .cover .tag {
  font-size: .9rem;
}

/*page*/
.page-works {
  padding-top: 160px;
}

.page-works a {
  position: relative;
  z-index: 0;
}

.page-works a:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgba(255, 212, 30, 0.5);
  border-radius: 2px;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: .3s all ease-in-out;
  z-index: -1;
}

.page-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.page-bar .title-style1 {
  flex-direction: column;
  align-items: flex-start;
}

.page-bar .title-style1 h2 {
  margin-bottom: 10px;
  font-family: 'Noto Sans TC', 'Rubik';
  line-height: 1.2;
}

.page-bar .title-style1 h2:before {
  left: 0;
  top: 5px;
  bottom: auto;
}

.page-bar .title-style p {
  color: #202020;
  font-size: 1.125rem;
}

.page-bar .back {
  font-size: 1.25rem;
}

.page-bar .back:before {
  display: none;
}

.page-bar .back img {
  width: 16px;
  transition: all ease-in-out .3s;
}

.page-bar .back:hover img {
  transform: translateX(-10px);
}

.page-top {
  padding: 0 40px;
}

.page-top .imgBox {
  border: 1px solid #F5F5F5;
  overflow: hidden;
  border-radius: 15px;
}

.page-top hr {
  border-color: #ccc;
  margin: 30px 0;
}

.page-top .info .item {
  display: flex;
  font-size: 1.125rem;
  margin-bottom: 10px;
}

.page-top .info .item span {
  font-weight: bold;
  line-height: 2;
  width: 80px;
  flex: 0 0 80px;
  margin-right: 10px;
}

.page-top .info .item a {
  line-height: 2;
  position: relative;
  z-index: 0;
}

.page-top .info .item a:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgba(255, 212, 30, 0.5);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .3s all ease-in-out;
  z-index: -1;
}

.page-content {
  padding: 50px 40px;
  background: #f5f5f5;
  border-radius: 30px;
}

.page-content .imgBox {
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 15px;
}

.page-content .mbImgBox {
  display: flex;
  justify-content: space-between;
}

.page-content .mbImgBox .imgBox {
  max-width: 23%;
  width: 270px;
}

.page-content .mbImgBox .imgBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.page-content .link {
  text-align: center;
  padding: 40px 0;
}

.page-content .link .item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.page-content .link .icon {
  transform: rotate(180deg);
}

.page-content .link .item span {
  font-size: 1.125rem;
  font-weight: bold;
}

.page-content .link .item a {
  line-height: 2;
  position: relative;
  z-index: 0;
  font-size: 1.125rem;
}

.page-content .link .item a:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgba(255, 212, 30, 0.5);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .3s all ease-in-out;
  z-index: -1;
}

/*footer*/
footer {
  border-top: 1px solid #202020;
  height: 80px;
  display: flex;
  align-items: center;
}

footer p {
  text-align: center;
  margin: 0;
}


@media (min-width: 1200px) {}

@media(min-width:992px) {}

@media(max-width:1440px) {

  .section-banner:before {
    width: 95%;
  }

  .scroll-img {
    bottom: 30px;
    width: 25px;
  }

  .work-list li .cover .name {
    font-size: 1.5rem;
  }

  .work-list li a .cover:before {
    bottom: 20px;
  }
}

@media(max-width:1366px) {
  header {
    height: 60px;
  }

  .navbar-nav .nav-item {
    padding: 15px 10px;
  }

  .section-banner {
    padding-top: 60px;
  }

  .experience-list li .imgBox {
    width: 150px;
  }

  .experience-list li .textBox {
    padding-left: 100px;
  }

  .experience-list li:nth-child(2n) .textBox {
    padding-right: 100px;
    padding-left: 0;
  }

  .experience-list li .textBox .top {
    left: 180px;
  }

  .experience-list li {
    margin-bottom: 40px;
  }

  .skill-list li {
    padding: 0 25px;
  }

  .skill-list li img {
    width: 100px;
  }

  .section-aboutme .flex-al-center>div {
    padding: 0 20px;
  }

  footer {
    height: 60px;
  }
}

@media(max-width:1366px)and (max-height:800px) {}

@media(max-width:1024px) {
  .navbar .navbar-brand {
    padding-left: 0;
  }

  .banner-title h2 {
    font-size: 3rem;
  }

  .banner-title .right h2 {
    height: 48px;
  }

  .banner-title .left {
    padding-right: 20px;
  }

  .section-banner:before {
    width: 1100px;
  }

  .section-aboutme .left .imgBox:before {
    top: 15%;
  }

  .section-aboutme .left .imgBox:after {
    right: 2%;
    bottom: 15%;
  }

  .experience-list li .textBox .jobCard {
    padding: 20px 30px 60px 70px;
  }

  .experience-list li:nth-child(2n) .textBox .jobCard {
    padding: 20px 70px 60px 30px;
  }

  .experience-list li .textBox .jobCard .jobTime {
    right: 30px;
  }

  .experience-list li:nth-child(2n) .textBox .jobCard .jobTime {
    right: 70px;
  }

  .experience-list li .textBox .top {
    left: 170px;
  }

  .experience-list li:nth-child(2n) .textBox .top {
    left: 30px;
  }

  .work-list li {
    width: 50%;
  }

  .goTop {
    right: -5px;
  }

  .page-top,
  .page-bar {
    padding: 0;
  }

  .page-works {
    padding-top: 120px;
  }
}

@media(max-width:991px) {
  .show-mb {
    display: block;
  }

  .hide-mb {
    display: none;
  }

  body.fixed header {
    overflow: hidden;
  }

  body.open {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
  }

  /* body.open:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 700;
    background-color: rgba(0, 0, 0, .85);
    animation: fadeIn .3s ease-in-out;
    -webkit-animation: fadeIn .3s ease-in-out;
  } */

  header {
    height: 65px;
  }

  body.open header:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .85);
    animation: fadeIn .3s ease-in-out;
    -webkit-animation: fadeIn .3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .navbar-toggler {
    display: block;
    padding: 0;
    border-radius: 0;
    border: none;
    width: 30px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 1000;
  }

  .collapse:not(.show) {
    display: none;
  }

  .navbar .navbar-brand {
    position: absolute;
    top: 0px;
    padding: 15px 0 10px;
  }

  .navbar-menu {
    z-index: 999;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -150%;
    transition: all ease-in-out .3s;
  }

  body.open .navbar-menu {
    left: 0;
  }

  .navbar-nav {
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 20px 0;
    padding-top: 65px;

  }



  .navbar-nav .nav-item {
    padding: 10px 0px;
    position: relative;
  }

  .navbar-nav .nav-item .nav-link:before {
    content: "";
    position: absolute;
    width: 20px !important;
    height: 2px;
    background-color: #fff;
    bottom: auto;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    z-index: 0;
    transition: all ease-in-out .3s;
  }

  .navbar-nav .nav-item .nav-link {
    padding: 0 15px;
    font-size: 2rem;
    width: auto;
    text-align: left;
    color: #fff;
    transition: all ease-in-out .3s;
    margin-left: 20px;
  }

  .navbar-nav .nav-item .nav-link:hover,
  .navbar-nav .nav-item.active .nav-link,
  .navbar-nav .nav-item .nav-link:active {
    color: #FFD43C;
    padding-left: 25px;
  }

  /* .navbar-nav .nav-item .nav-link:before {
    display: none;
  } */

  .navbar-nav .nav-item .nav-link:hover:before,
  .navbar-nav .nav-item .nav-link:active:before {
    background-color: #FFD43C;
    width: 30px;
  }

  .navbar-nav .nav-item .nav-link span {
    display: inline-block;
    font-size: 1.5rem;
  }

  ul.social-media {
    width: 100%;
  }

  ul.social-media li {
    padding: 0;
    margin-right: 20px;
  }

  ul.social-media li img {
    width: 32px;
  }

  .textBox p {
    font-size: 1rem;
  }

  .title-style h2 {
    font-size: 2rem;
  }

  .title-style1 h2:before {
    width: 32px;
    height: 32px;
  }

  .title-style p {
    font-size: 1.125rem;
  }

  .padding-setting {
    padding: 40px 0;
  }

  .margin-settingB {
    margin-bottom: 40px;
  }

  .margin-setting {
    margin-bottom: 25px;
  }

  .section-banner {
    padding-top: 65px;
  }

  .skill-list li img {
    width: 80px;
    margin: 0 auto;
  }

  .skill-list li {
    padding: 0 20px;
  }

  .experience-list li .textBox .jobCard .jobTime {
    font-size: 1.5rem;
  }



  .page-works {
    padding-top: 120px;
  }

  .page-bar .title-style p {
    font-size: 1rem;
  }

  .page-bar .back {
    font-size: 1rem;
  }

  .page-bar .back img {
    width: 14px;
  }

  .page-top .imgBox {
    margin-bottom: 20px;
  }

  .page-top hr {
    margin: 20px 0;
  }

  .page-top .info .item span,
  .page-top .info .item a {
    font-size: 1rem;
  }

  .page-content .link .item span {
    font-size: 1rem;
  }

  .page-content .link .icon {
    width: 14px;
  }

  .page-content .link .item a {
    font-size: 1rem;
  }

  .page-content {
    border-radius: 15px;
    padding: 25px;
  }

  .page-content .link {
    padding: 20px 0;
  }

}



@media(max-width:767px) {

  .navbar-nav .nav-item .nav-link {
    font-size: 1.5rem;
  }

  .navbar-nav .nav-item .nav-link span {
    font-size: 1rem;
  }

  ul.social-media li img {
    width: 24px;
  }

  .banner-title {
    margin-bottom: 50px;
  }

  .banner-title h2 {
    font-size: 2.5rem;
  }

  .banner-title h2 span {
    display: block;
  }

  .banner-title .right h2 {
    height: 40px;
  }

  .banner-text {
    padding: 0 25px;
    text-align: justify;
    font-size: 1.125rem;
  }

  .banner-text p {
    font-size: 1.125rem;
  }

  .moon {
    width: 60px;
    height: 60px;
  }

  .stars .star {
    width: 120px;
  }

  .stars .star2,
  .stars .star4 {
    width: 180px;
  }

  .stars .star1 {
    left: 55%;
  }

  .stars .star2 {
    left: 70%;
  }

  .stars .star4 {
    left: 90%;
  }

  .stars .star4 {
    left: 130%;
  }

  .stars .star5 {
    left: 150%;
  }

  .section-aboutme .flex-al-center {
    flex-direction: column;
    margin: 0;
  }

  .section-aboutme .flex-al-center>div {
    width: 100%;
    padding: 20px 0 20px;
  }

  .section-aboutme .left {
    margin-bottom: 20px;
  }

  .skill-list li {
    padding: 0 12px;
  }

  .experience-list:before,
  .experience-list:after {
    display: none;
  }

  .experience-list li .imgBox,
  .experience-list li:nth-child(2n) .imgBox {
    width: 80px;
    left: 0;
    right: auto;
  }

  .experience-list li .textBox,
  .experience-list li:nth-child(2n) .textBox {
    padding-left: 0;
    padding-right: 0;
  }

  .experience-list li .textBox .top,
  .experience-list li:nth-child(2n) .textBox .top {
    left: 95px;
    top: 15px;
  }

  .experience-list li .textBox .cpName {
    font-size: 1.125rem;
  }

  .experience-list li .textBox .jobName {
    font-size: .9rem;
  }

  .experience-list li .textBox .jobCard,
  .experience-list li:nth-child(2n) .textBox .jobCard {
    padding: 35px 15px 40px;
  }

  .experience-list li .textBox .jobCard:before {
    display: none;
  }

  .experience-list li .textBox .jobCard .jobTime {
    right: auto;
    left: 15px;
  }

  .experience-list li .textBox .jobCard:after {
    right: 15px;
    left: auto;
  }

  .work-list li {
    width: 100%;
  }

  .page-works {
    padding-top: 100px;
  }

  .page-bar {
    flex-direction: column-reverse;
  }

  .page-bar .back {
    margin-bottom: 20px;
  }

  .page-content .mbImgBox {
    flex-wrap: wrap;
  }

  .page-content .mbImgBox .imgBox {
    max-width: 48%;
    margin-bottom: 25px;
    max-height: 350px;
  }

  .page-content .mbImgBox .imgBox:nth-last-child(2),
  .page-content .mbImgBox .imgBox:nth-last-child(1) {
    margin-bottom: 0;
  }

}

@media(max-width:480px) {
  .page-content {
    margin: 0 -25px;
    border-radius: 0;
  }
}


@media(max-width:375px) {}

@media(max-width:320px) {}